@model HrManagementSystem.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
    // Layout = "~/Views/Shared/_SA.cshtml";

}

<h1>Login</h1>

<form asp-action="Login" asp-controller="Account" method="post">
    <div class="tableContent">
        <div class="form-group">
            <table cellpadding="8" cellspacing="5">
                <tr>
                    <td><label asp-for="UserName"></label></td>
                    <td>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="Password"></label></td>
                    <td>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="form-check">
                            <input asp-for="RememberMe" type="checkbox" width="10" class="form-check-input" id="exampleCheck1">
                            <label asp-for="RememberMe" class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <button type="submit" class="btn btn-primary" onclick="Logout()">Login</button>
                    </td>
                </tr>

            </table>


        </div>

        <div class="form-group">
        </div>
        <div class="d-flex align-items-center justify-content-between mb-4">
        </div>

    </div>
</form>