@model TimesheetEntryViewModel
@{
    ViewData["Title"] = "Edit Timesheet";
}

<h3>Edit Timesheet</h3>

<form asp-action="Edit" asp-route-id="@ViewBag.TimesheetId" method="post">
    <div>
        <label>Date</label>
        <input asp-for="Date" type="date" class="form-control" />
    </div>
    <div class="form-group">
    <label>Client</label>
    <select id="ClientId" asp-for="ClientId" required name="ClientId" asp-items="ViewBag.Client" action="Post" class="dropdown">
        <option value="">--Select Client--</option>
    </select>

    </div>>
    <div class="form-group">
        <label>Project</label>
        <select id="ProjectId" asp-for="ProjectId" required name="ProjectId" asp-items="ViewBag.Project" action="Post" class="dropdown">
            <option value="">--Select Project--</option>
        </select>

    </div>
    <div>
        <label>Activity</label>
        <select id="ActivityId" asp-for="ActivityId" required name="ActivityId" asp-items="ViewBag.Activity" action="Post" class="dropdown">
            <option value="">--Select Activity--</option>
        </select>
     </div>
    <div>
        <label>Hours Worked</label>
        <input asp-for="HoursWorked" class="form-control" />
    </div>
    <div>
        <label>Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Update</button>
</form>
