@{
    ViewData["Title"] = "Assign Employee";
}

<h2>Assign Employee</h2>

<form asp-action="AssignEmployee" method="post">
    <div class="form-group">
        <label for="employeeId">Select Employee:</label>
        @Html.DropDownList("employeeId", ViewBag.EmployeeList as List<SelectListItem>, "-- Select Employee --", new { @class = "form-control" })

@*         @Html.DropDownList("employeeId", ViewBag.employeeId as SelectList, "-- Select Employee --", new { @class = "form-control" })
 *@    </div>

    <div class="form-group">
        <label for="clientId">Select Client:</label>
        @Html.ListBox("clientIds", ViewBag.ClientList as List<SelectListItem>, new { @class = "form-control", multiple = "multiple" })

@*         @Html.DropDownList("clientId", ViewBag.clientId as SelectList, "-- Select Client --", new { @class = "form-control" })
 *@    </div>

    <button type="submit" class="btn btn-primary">Assign</button>
</form>