@model EmployeeLoan
@{
    ViewData["Title"] = "Assign New Loan";
}

<h3>Assign New Loan</h3>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label>Employee ID</label>
        <select asp-for="EmployeeId" asp-items="ViewBag.EmployeeList" class="form-control">
            <option value="">-- Select Employee --</option>
        </select>
        <span asp-validation-for="EmployeeId" class="text-danger"></span>

        @* <input asp-for="EmployeeId" class="form-control" /> *@
    </div>
    <div class="form-group">
        <label>Loan Amount</label>
        <input asp-for="LoanAmount" class="form-control" />
    </div>
    <div class="form-group">
        <label>EMI</label>
        <input asp-for="EMI" class="form-control" />
    </div>
    <div class="form-group">
        <label>Tenure (Months)</label>
        <input asp-for="TenureMonths" class="form-control" />
    </div>
    <div class="form-group">
        <label>Loan Start Date</label>
        <input asp-for="LoanStartDate" type="date" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success mt-3">Save Loan</button>
</form>