@model IEnumerable<HrManagementSystem.Models.ActivityTasks>

<h2>Activities</h2>
<a href="/SuperAdmin/CreateActivity" class="btn btn-primary">Add New Activity</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Activity Name</th>
            <th>Description</th>
            <th>Project</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ActivityName</td>
                <td>@item.Description</td>
                <td>@item.Project</td>
                <td>
                    <a href="/SuperAdmin/EditActivity/@item.ActivityId" class="btn btn-warning">Edit</a>
                    <a href="/SuperAdmin/DeleteActivity/@item.ActivityId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index" asp-controller="SuperAdmin">Back to Home</a>

</div>